/*
University Marketing Website 2014-15
Author: Michael Edelstone
edelstone@txstate.edu or michael.edelstone@gmail.com
/* ------------------------------------------------- */

/* (Default) */

html {font-size: 100%;}
body {height: auto; min-height: 100%;}
.column {padding-left: 1rem; padding-right: 1rem;}
.float_left {float: left;}
.float_right {float: right;}
.header {min-height: 80px; padding: 1rem 0;}
.dept_name, .title {position: relative;}
.dept_name h1 {font-size: 2.2rem; line-height: 45px;}
.hide, .header_bg, .bg_overlay, .bg_video, .bg_image {display: none;}
.main_nav {margin: 2px;}
.main_nav a {width: 50%; border: 2px solid #FFFFFF; text-align: center;}
.global_footer_main {padding: 1rem 0;}
.txst_logo {margin: 2rem auto 3rem auto;}
.align_1 {text-align: right; border-right: 1px solid #636363; padding: 0 0.6rem 0 0.2rem;}
.align_2 {text-align: right; border-left: none; padding: 0 1rem 0 0.2rem;}
.align_3 {text-align: left; border-left: 1px solid #636363; padding: 0 0.2rem 0 1rem;}
.tsus_logo {margin: 1.5rem auto auto auto;}
.footer_logo.third, .footer_links.third {width: 100% !important;}
 
 /* (Handheld) */

@media handheld {
.bg_video {display: none !important;}
}

 /* (Handheld 1024px and up) */
 
@media handheld and (min-width: 64rem) {
.bg_image {display: block !important;}
}

/* (640px and up) */

@media (min-width: 40rem) {
html {font-size: 110%;}
.column {float: left;}
.column.full {width: 100%;}
.column.two-thirds {width: 66.7%;}
.column.half {width: 50%;}
.column.third {width: 33.3%;}
.column.fourth {width: 25%;}
.column.flow-opposite {float: right;}
.header {min-height: 275px; padding: 0;}
.dept_name h1 {background: rgba(79, 31, 38, 0.7); font-size: 2.5rem; line-height: 60px;}
.dept_name, .title {position: absolute;}
.main_nav {margin: auto;}
.main_nav a {width: auto; border: none; text-align: left;}
.bg_overlay, .header_bg, .bg_image {display: block;}
}

/* (800px and up) */
@media (min-width: 50rem) {
.header {min-height: 350px;}
.dept_name h1 {font-size: 2.7rem;}
.hide {display: block;}
.global_footer_main {padding: 3rem 0 0 0;}
.txst_logo {margin: 1.5rem auto auto auto;}
.align_2 {text-align: left; border-left: 1px solid #646363; padding: 0 0.2rem 0 0.6rem;}
.align_3 {padding: 0 0.2rem 0 0.6rem;}
.tsus_logo {margin: 0.5rem auto auto auto;}
.footer_logo.third, .footer_links.third {width: 33% !important;}
}

/* (1024px and up) */

@media (min-width: 64rem) {
html {font-size: 120%;}
.header {min-height: 400px;}
.bg_image {display: none;}
.bg_video {display: inline-block; margin-top: -50px;}
.align_1, .align_2, .align_3 {padding: 0 1rem;}
}

/* (1280px and up) */

@media (min-width: 80rem) {
.header {min-height: 425px;}
.bg_video {margin-top: -100px;}
}

/* (1440px and up) */

@media (min-width: 90rem) {
.header {min-height: 450px;}
.bg_video {margin-top: -150px;}
}

/* General */

*, *:before, *:after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.clearfix:before, .clearfix:after {content: " "; display: table;}
.clearfix:after {clear: both;}
.clearfix {*zoom: 1;}
body {font-family: 'Univers LT Std'; font-weight: 100; text-rendering: optimizeLegibility;}
h1 a {color: #FFFFFF !important;}
h1 a:hover {background-color: block;}
a, a:link, a:visited {color: #00A08E; text-decoration: none;}
a:hover, a:active {color: #333333; text-decoration: none;}
a, li {transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out;}
h2 {color: #444444; font-size: 2rem; letter-spacing: 0.06rem; text-transform: uppercase; font-family: 'Univers LT Std Ultra Condensed'; font-weight: 400; margin-bottom: .8rem;}
p {line-height: 1.5rem;}
.medium_em {font-weight: 400;}
.bold_em {font-weight: 700;}
.caps {text-transform: uppercase;}
img, img:hover {-moz-backface-visibility: hidden; -webkit-backface-visibility: hidden; backface-visibility: hidden; transform: translate3d(0px,0px,0px);}

/* Header */

.banner {background-color: #C1B69A; background-repeat: repeat-x; text-align: center; height: 66px; position: relative; overflow: hidden;}
.bg_container {background-color: #4F1F26; position: absolute; z-index: 0; width: 100%; height: 100%;}
.bg_image {opacity: 0; position: absolute; margin-top: -50px; height: 150%; width: 100%; background: #4F1F26 url("../images/work_2.jpg") no-repeat 50% 0%; background-size: cover;}
.bg_video_container {position: absolute; height: 100%; width: 100%;}
.bg_video {opacity: 0; position: absolute; left: 0; top: 0; min-height: 100%; min-width: 100%; height: auto; z-index: -1;}
.bg_overlay {background-color: #8C734A; width: 100%; height: 100%; opacity: 0;}
.header {position: relative; overflow: hidden !important; background-color: #4F1F26;}
.header_bg {width: 100%; background-color: #4F1F26; position: absolute; bottom: 0; right: 0; left: 0; height: 80px; opacity: 0.7;}
.title {height: 100%; width: 100%; bottom: 0; margin: auto;}
.dept_name {left: 0; bottom: 0; right: 0;}
.dept_name h1 {max-width: 1000px; margin: auto; font-family: 'Garamond Premier Pro'; color: #FFF; font-weight: 400; min-height: 60px; padding: 15px 15px 5px 17px;}

/* Top Navigation */

.main_nav {max-width: 1000px; background-color: #E8E3DB;}
.main_nav a {padding: 1rem 1.2rem .9rem 1.2rem; color: #333333; display: inline-block;}
.main_nav a:hover {color: #8C734A; box-shadow: inset 0px -6px 0px 0px #8C734A; -moz-box-shadow: inset 0px -6px 0px 0px #8C734A; -webkit-box-shadow: inset 0px -6px 0px 0px #8C734A;}

/* Side Navigation */

.menu {list-style-type: none; padding-left: 0; max-width: 12rem; margin: 0;}
.menu li {line-height: 1.2rem;}
.menu a {display: table; padding: 12px 15px; color: #333333; background-color: #FFFFFF; width: 100%; text-decoration: none;}
.menu a:hover {background-color: #7473A8; color: #FFFFFF;}
.selected {background-color: #7473A8 !important; color: #FFFFFF !important;}

/* Body */

.page_content {max-width: 1000px; margin: auto; padding: 1rem 0 1.5rem 0;}
.page_content a {padding-top: 0.2rem;}
.page_content a:hover {background-color: #CCECE8;}
.main_text {padding-bottom: .5rem;}
.top_services {list-style-type: none; margin: 0; padding: 0;}
.top_services li {font-family: 'Univers LT Std Thin Ultra Condensed'; font-weight: 100; font-size: 2rem; letter-spacing: 0.11rem; text-transform: uppercase; margin: 1.2rem 0; line-height: 2rem;}
.top_services li a {color: #FFFFFF; padding: 2.5rem 1rem 2rem 1rem; background-color: rgba(0, 160, 142, 1); display: block;}
.top_services li a:hover {background-color: rgba(0, 160, 142, 0.8);}
.service_1 {background: url('../images/pencils.jpg') no-repeat; background-size: cover;}
.service_2 {background: url('../images/camera.jpg') no-repeat; background-size: cover;}
.service_3 {background: url('../images/bobcat.jpg') no-repeat; background-size: cover; background-position: 100% 40%;}

/* Footer */

.footer {position: relative; background-color: #403F3F; width: 100%; color: #CCCCCC;}
.footer_row {max-width: 1000px; margin: auto;}
.footer a {color: #CCCCCC;}
.footer a:hover {color: #FFFFFF; text-decoration: underline;}
.dept_footer {border-bottom: 1px solid #131313; color: #DDDDDD;}
.dept_footer_content {text-align: center; padding: 1rem 1rem 1.5rem 1rem; letter-spacing: 1px;}
.dept_footer_content a:hover {color: #DDDDDD; text-decoration: none; background-color: block;}
.dept_footer_content a {color: #00A08E;}
.office_name {font-family: 'Garamond Premier Pro'; font-size: 1.3rem; margin-bottom: 0;}
.office_details {font-size: .7rem; margin-top: .5rem; line-height: 1rem; list-style: none; padding: 0;}
.global_footer {border-top: 1px solid #535252; margin: auto; position: relative; z-index: 1; background-color: #3A3939; padding-bottom: 3rem;}
.global_footer:after {background: url('../images/old_main_bg.jpg'); background-repeat: no-repeat; background-size: cover; opacity: 0.1; top: 0; bottom: 0; left: 0; right: 0; position: absolute; z-index: -1; content: ""; background-position: 80% 25%;}
.global_footer_main {max-width: 1440px;}
.footer_logo {text-align: center;}
.footer_logo a {opacity: .7; transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out;}
.footer_logo a:hover {opacity: 1;}
.txst_logo {max-width: 250px;}
.txst_logo img {width: 100%; height: auto;}
.tsus_logo {max-width: 360px; padding: 0 1rem;}
.tsus_logo img {width: 100%; height: auto;}
.footer_links ul {list-style: none; font-size: 0.7rem; letter-spacing: 1px; line-height: 1.4rem; margin: 0; width: 50%;}
.footer_links lh {text-transform: uppercase; font-weight: 400; margin-bottom: 0.5rem; display: block; color: #E7E7E7;}
.global_footer_lower {padding: 2rem 0;}
.footer_social {text-align: center; padding: 0 1rem;}
.font_icons {display: inline-block; list-style-type: none; padding: 0; margin: 0; text-align: center; font-size: 1rem; line-height: 2rem;}
.font_icons li {display: inline-block; margin: 0 0.45rem;}