/*
CSS for little web tools I make
Author: Michael Edelstone
edelstone@txstate.edu or michael.edelstone@gmail.com
/* ------------------------------------------------- */

*, *:before, *:after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
body {font-size: 120%; font-family: 'Univers W01'; font-weight: 100; text-rendering: optimizeLegibility;}
.presentation {max-width: 640px; padding: 20px; margin: auto;}
p {font-size: 90%; margin: 0 auto 40px auto; line-height: 28px;}
.garamond {font-family: 'Garamond Premier W01'; font-size: 42px; font-weight: 400;}
.univers_59 {font-weight: 500; letter-spacing: 1px; font-size: 36px;}
.univers_39 {font-weight: 200; letter-spacing: 3px; font-size: 36px;}
.lower {margin-bottom: 15px;}
.light {font-weight: 100;}
.medium_em {font-weight: 400;}
.bold_em {font-weight: 700;}
.slant_em {font-style: italic;}
.caps {text-transform: uppercase;}
.fa {margin: 0 5px;}
.gold {color: #8C734A;}
.blue {color: #005481;}
.river_blue {color: #00A08E;}
.red {color: #B5111B;}
.purple {color: #7473A8;}